<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script src="Scripts/Board.js" type="text/javascript"></script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body onload="f();">

Pick Board:
<div style="float:left;">Earth<br />
    <img src="Images/earthmap.jpg" style="width:300px;" onclick="ClickEarth()" />
</div> 

<div style="float:left;">Custom<br />
    <img src="Images/custommap.jpg"  style="width:300px;" onclick="ClickCustom()" />
</div>

 <br />

 <div style="clear:both;">
 <canvas id="can" width="600" height="600" style="border:1px solid black;" ></canvas>
 </div>

</body>
</html>
